.list-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.podcasts-list {
  display: flex;
  flex-wrap: wrap;
  padding: 150px 0;
  gap: 90px;
}

.list-header {
  display: flex;
  justify-content: flex-end;

}

.div-right {

  display: flex;
}

.list-counter {
  font-weight: bolder;
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-right: 20px;
}

.search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  font-size: large;
}